body {
  font-family: sans-serif;
}

h1 {
  line-height: normal;
}

.des {
  line-height: 0.5;
}

.exp {
  font-family: sans-serif;
  font-size: 0.9em;
}

p {
  line-height: 0.3em;
}

form {
  padding: 2px;
  line-height: 25px;
}

button {
  background-color: aqua;
}